# ~/.config/starship.toml

format = "$time$username$hostname$directory$git_branch\n$character"

[time]
disabled = false
format = "[$time]($style) "
time_format = "%H:%M"

[directory]
truncation_length = 1
truncate_to_repo = false
fish_style_pwd_dir_length = 0

[username]
show_always = true
format = "[$user]($style)"
style_user = "bold green"

[hostname]
ssh_only = false
format = "@[$hostname]($style) "
style = "bold green"
# [directory.substitutions]
# '/Users/you/scripts/' = '📂 Scripts'
# '/Users/you/projects/work' = '📂 Work'
# 'Users/you' = '📂 Home'
# 'Users/you/Downloads' = '📂 Downloads'

[git_branch]
symbol = ""

[character]
success_symbol = "[\\$](bold #8a8a8a)"
error_symbol = "[\\$](bold red)"
